.App {
  display: flex;
  text-align: center;
  flex-direction: column;
  background: rgb(133, 163, 146);
  color: rgb(255, 236, 199);
}

body{
  
  color: whitesmoke;
  width: clamp(360px, 100%, 700px);
  box-sizing: border-box;
  margin: 0em auto;
  text-align: center;  
}

h1 {
  /*margin: 1em 0 0 0;*/
  font-size: 3rem;
}
h2 {
text-align: center;
}

.radio {
  max-width: 60em;
  width: 100%;
}

.filters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1.2em;
  font-size: 1.2rem;
  width: 100%;
}

/*button {
  border: none;
  border-radius: 5px;
  width: 100px;
  font-size: 25px;
  background-color: rgb(224, 13, 161);
  margin-right: 8px;
  margin-left: 8px;
}*/

.off {
  border: none;
  border-radius: 5px;
  width: 100px;
  font-size: 20px;
  background-color: rgb(255, 236, 199);
  margin-right: 8px;
  margin-left: 8px;
  color: rgb(133, 163, 146);
}

.selected {
  border: none;
  border-radius: 5px;
  width: 100px;
  font-size: 20px;
  margin-right: 8px;
  margin-left: 8px;
  color: rgb(255, 236, 199);
  background: rgb(245, 185, 113);
}
/*
.stations {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  width: 100%;
}
*/
.station {
  font-size: 1.2em;
  border: 1px solid rgb(245, 185, 113);
  background: rgb(245, 185, 113);
  margin: 1.5em;
  border-radius: 10px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stationName {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1em;
  /*width: 100%;*/
  align-items: center;
  font-size: 25px;
}

/*.name {
  width: 100%;
}*/

.logo {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  border: 3px solid rgb(255, 236, 199);
  margin-right: 20px;
}

/*audio {
  width: 100%;
}*/

.rhap_container.player {
  padding: 0.25em 0.75em;
  border-radius: 5px;
  width: 270px;
}

.rhap_stacked .rhap_controls-section {
  margin-top: 0 !important;
  display: flex;
  flex-direction: row;
  margin-left: 40px;
}

.rhap_controls-section .rhap_volume-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 90px;
  width: 270px;
}

.rhap_controls-section .rhap_main-controls button[aria-label="Play"] svg path {

  fill: black !important; 

}

.rhap_controls-section .rhap_main-controls button[aria-label="Pause"] svg path {
  fill: black !important;
  
}

.artist{
  width: 350px;
  height: 250px;
  border-radius: 5px;
  border: none;
  padding-left: 20px;
}

.support-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.select-donation {
  display: flex;
  justify-content: center;
}


.donation {
  border: none;
  border-radius: 6px;
  background:rgb(133, 163, 146); 
}

.donation:hover {
  background-color: rgb(253, 217, 152);
}

.social-media{
 margin:10px;
 width: 45px;
 height: 45px;
 margin-left: 15px;
}


p{
margin-left: 50px;
margin-right: 50px;
font-size: 18px;
}

.favorite-section {
  display: flex;
  margin-bottom: 25px;
}

.add-to-favorites-btn {
  width: 80px;
  height: 40px;
  border: none;
  border-radius: 6px;
  background-color: rgb(255, 236, 199);
}

.add-to-favorites-btn:hover {
  background-color: rgb(253, 217, 152);
  border: none;
  border-radius: 6px;
}

.artist-info {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  align-items: center;
}

.amount-section {
  flex-wrap: wrap; 
}

.amount {
  width: 160px;
  height: 60px;
  margin: 40px;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  color: rgb(102, 128, 106);
  background: rgb(255, 236, 199);
}

.payment{
  width: 160px;
  height: 60px;
  margin: 50px;
  border: none;
  border-radius: 6px;
  font-size: 25px;
  font-weight: bold;
  color: rgb(102, 128, 106);
  background: rgb(255, 236, 199);
}

.icon {
  padding: 30px;
}

@media only screen and (max-width: 600px) {
  .stations {
    grid-template-columns: repeat(1, 100%);
  }

  img {
    display: none;
  }
}