.App {
  display: flex;
  text-align: center;
  flex-direction: column;
}

body{
  background: rgb(148, 172, 161);
  color: rgb(255, 255, 255);
}

h1 {
  margin: 0.5em 0 0 0;
  padding: 0.75em;
  font-size: 3rem;
}
h2 {
  margin-bottom: 2em;
}

.radio {
  max-width: 60em;
  width: 100%;
}

.filters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2em;
  font-size: 1.2rem;
  width: 100%;
}

span {
  margin: 0.25em;
  border: 1px ;
  background-color: rgb(198, 208, 203);
  border-radius: 10px;
  padding: 0.25em 1em;
}

.selected {
  background: rgb(242, 174, 2);
}

.stations {
  display: grid;
  /*grid-template-columns: repeat(3, 33%);*/
  width: 100%;
}

.station {
  font-size: 1.2em;
  border: 1px solid rgb(242, 174, 2);
  background: rgb(242, 174, 2);
  margin: 1.5em;
  border-radius: 10px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stationName {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
  width: 100%;
  align-items: center;
  justify-content: start;
}

.name {
  width: 100%;
  text-align: center;
}

img {
  display: block;
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  border: 3px solid white;
  margin: 0 0.25em;
}

audio {
  width: 100%;
}

.rhap_container.player {
  background: rgb(255, 255, 255);
  display: flex;
  justify-items: center;
  padding: 0.5em 1em;
  border-radius: 10px;
}

.rhap_stacked .rhap_controls-section {
  margin-top: 0 !important;
}

.rhap_controls-section .rhap_volume-controls {
  justify-content: center;
}

.rhap_controls-section .rhap_main-controls button[aria-label="Play"] svg path {
  fill: rgb(242, 174, 2) !important;
}

.rhap_controls-section .rhap_main-controls button[aria-label="Pause"] svg path {
  fill: rgb!important;
}

@media only screen and (max-width: 600px) {
  .stations {
    grid-template-columns: repeat(1, 100%);
  }

  img {
    display: none;
  }
}